---
import { Counter } from "~/components/Counter.tsx"
import favicon from "../assets/favicon.svg"
---

<!doctype html>
<html
	lang="en"
	class="overflow-x-hidden break-words bg-base-950 text-base-100 [scrollbar-gutter:stable] [&_*::-webkit-scrollbar-thumb]:bg-base-700 [&_*::-webkit-scrollbar-track]:bg-base-900 [&_*::-webkit-scrollbar]:w-2"
>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href={favicon.src} />
		<title>Game of Arte</title>
	</head>
	<body>
		<Counter client:idle />
	</body>
</html>
